body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("images/image.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: black;
}

h1 {
    color: white;
}

p {
    color: green;
}

#message-el {
    font-style: italic;
}

button {
    width: 150px;
    color: #016f32;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    font-weight: bold;
    border-radius: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
}

@media (max-width: 250px) {
    body {
        background-image: url("images/image.jpg");
    }
}
